<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div style="background-color:white;">
<nav class="navbar">
  <div class="container-fluid">
    <div>
      <h2 style="margin-left:40%">ONLINE VOTING PLATFORM</h2>
    </div>
    <ul class="nav navbar-nav navbar-left">
        <li style="font-size: large;margin-left: 6%;">Welcome Niveditha!!!</li>
       
      </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
      <li><a href="/signout"><span class="glyphicon glyphicon-user"></span> Signout</a></li>
     
    </ul>
  </div>
</nav>
</div>

</body>
</html>
